
@font-face {
  font-family: "SSSocialRegular";
  src: url('/styles/fonts/ss-social-reg/ss-social-regular.eot');
  src: url('/styles/fonts/ss-social-reg/ss-social-regular.eot?#iefix') format('embedded-opentype'),
       url('/styles/fonts/ss-social-reg/ss-social-regular.woff') format('woff'),
       url('/styles/fonts/ss-social-reg/ss-social-regular.ttf')  format('truetype'),
       url('/styles/fonts/ss-social-reg/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Bauer-Bodoni';
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bold-webfont.eot');
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bold-webfont.woff') format('woff'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bold-webfont.ttf') format('truetype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bold-webfont.svg#bauer_bodoni_stdbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Bauer-Bodoni';
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bolditalic-webfont.eot');
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bolditalic-webfont.woff') format('woff'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bolditalic-webfont.ttf') format('truetype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-bolditalic-webfont.svg#bauer_bodoni_stdbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}


@font-face {
    font-family: 'Bauer-Bodoni';
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-italic-webfont.eot');
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-italic-webfont.woff') format('woff'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-italic-webfont.ttf') format('truetype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-italic-webfont.svg#bauer_bodoni_stditalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'Bauer-Bodoni';
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-roman-webfont.eot');
    src: url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-roman-webfont.woff') format('woff'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-roman-webfont.ttf') format('truetype'),
         url('/styles/fonts/bauer-bodoni-std1/bauerbodonistd-roman-webfont.svg#bauer_bodoni_std_1roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DIN-Condensed';
    src: url('/styles/fonts/din/dinengschriftstd-webfont.eot');
    src: url('/styles/fonts/din/dinengschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/din/dinengschriftstd-webfont.woff') format('woff'),
         url('/styles/fonts/din/dinengschriftstd-webfont.ttf') format('truetype'),
         url('/styles/fonts/din/dinengschriftstd-webfont.svg#din_1451_stdengschrift') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DIN';
    src: url('/styles/fonts/din/dinmittelschriftstd-webfont.eot');
    src: url('/styles/fonts/din/dinmittelschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/din/dinmittelschriftstd-webfont.woff') format('woff'),
         url('/styles/fonts/din/dinmittelschriftstd-webfont.ttf') format('truetype'),
         url('/styles/fonts/din/dinmittelschriftstd-webfont.svg#din_1451_stdmittelschrift') format('svg');
    font-weight: normal;
    font-style: normal;

}